<body>
  <h1>REGISTRATION FORM</h1>
  <form>
    <div class="container">
      <div class="cont">
        <div>
          <label for="Full Name"> FULL NAME</label><br>
          <input type="Full name" placeholder="Your full name">
        </div>

        <div>
          <label for="PASSWORD">PASSWORD</label><br>
          
          <input type="password" name="password" id ="PASSWORD">
        </div>
        
        <div>
          <label for="number">PHONE NUMBER</label><br>
          
          <input type="number" name="number" id="NUMBER">
        </div>

        <div>
          <label for="email">EMAIL</label><br>
          
          <input type="email" name="email" id="email">
        </div>

         <button id="pass">SUBMIT</button>      <a href="https://www.facebook.com/profile.php?id=100090851334267&mibextid=ZbWKwL">SIGN IN</a>
      
      </div>
    </div>
   
  
  </form>
</body>